ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	font-family:sans-serif;
	z-index:1;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 80px 20px 80px;
    text-decoration: none;
	margin:auto;
}

li a:hover {
    background-color: #0000ff;
}

.active {
    background-color: red;
}
